.DS_Store
/vendor/*
/wordpress/*
!.gitignore
.htaccess
.htpasswd
!wp-config-sample.php
!/docker
/docker/db
!/wordpress/favicon.ico
!/wordpress/google*.html
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/advanced-cache.php
!/wordpress/wp-content/themes
/wordpress/wp-content/themes/*
!/wordpress/wp-content/plugins
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/themes/yuki_fueki
/**/node_modules